<%= form_for(@article) do |f| %>
	<% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, 'error') %> prohibited this article from being saved:</h2>
      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
	<% end %>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, {class: 'form-control', placeholder: 'Title', required: 'true', maxlength: '60', autofocus: true} %>
  </div>
  <div class="form-group">
    <%= f.label :author %><br>
    <%= f.text_field :author, {class: 'form-control', placeholder: 'Author', required: 'true', maxlength: '50'} %>    
  </div>
  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.text_field :date, {class: 'form-control', placeholder: 'Date', required:'true'} %>
  </div>
  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body, {class: 'form-control', placeholder: 'Body', rows: '10', required: 'true', maxlength: '300'} %>
  </div>
  <div class="actions">
    <%= f.submit nil, {class:'btn btn-success'} %>
  </div>
<% end %>
							