<div class="panel panel-info">
  <div class="panel-heading" id="article">
    <h3 class="panel-title">Recent Articles</h3>
  </div>
  <div class="panel-body">
    <% Article.order(updated_at: :desc).limit(5).each do |article| %>
      <ul class="list-group" id="article">
        <li><%= link_to article.title, article %></li>
      </ul>
      <hr>
    <% end %> 
  </div>   
</div>
