 <hr>
 <div class="row-testimonials">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">Lastest Articles</h2>
      </div>
      <div class="panel-body">
        <% Article.order(updated_at: :desc).limit(3).each do |article| %>
          <ul class="list-group">
            <li class="list-group-item"><%= link_to article.title, article %></li>
          </ul>
        <% end %> 
      </div>   
    </div>
  </div> <!-- col-xs-7 col-sm-7 col-md-7 col-lg-7 -->
</div> <!-- row-testimonials -->