<!--  <hr>
 <div class="row-testimonials">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> -->
    <div class="panel panel-info">
      <div class="panel-heading" id="article">
        <h3 class="panel-title">Recent Articles</h3>
      </div>
      <div class="panel-body">
        <% Article.order(updated_at: :desc).limit(5).each do |article| %>
          <ul class="list-group" id="article">
            <li><%= link_to article.title, article %></li>
          </ul>
          <hr>
        <% end %> 
      </div>   
    </div>
 <!--  </div> --> <!-- col-xs-7 col-sm-7 col-md-7 col-lg-7 -->
<!-- </div>  --><!-- row-testimonials -->