<div class="content">
  <div class="container">
    <div class="row-testimonials">
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <h1>Edit Article</h1>
        <%= render 'form' %>
        <%= link_to 'Show', @article %> |
        <%= link_to 'Back', articles_path %>
      </div>
    </div>
  </div>
</div>