<% @body_id = 'blog' %>

<div class="content">
  <div class="container">
    <div class="row-testimonials">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title">Articles</h2>
          </div>
          <div class="panel-body">
            <% cache(cache_key_for_articles) do %>
              <% @articles.order(updated_at: :desc).each do |article| %>
                <ul class="list-group">
                  <li class="list-group-item">
                    <% cache(article) do %>
                      <%= link_to article.title, article %>
                    <% end %>
                  </li>
                </ul>
              <% end %> 
            <% end %>       
            <ul class="pagination list-group">
              <li class="a-left"><%= will_paginate(@posts) %></li>
            </ul>
            <p class="navigation a-right">
              <%= link_to 'New Article', new_article_path %>
            </p>        
          </div>   
        </div>
      </div> <!-- col-xs-8 col-sm-8 col-md-8 col-lg-8 -->
    </div> <!-- row-testimonials -->
  </div> <!-- container -->
</div> <!-- content -->