<% name = 'Antonio M'  %>
<% address1 = '48,Calderon road' %>
<% address2 = '' %>
<% city = 'London' %>
<% country = 'United Kingdom' %>
<% postcode = 'E11 4EU' %>
<% phone = '07710130116' %>
<% dob = '18/01/1978' %>

<div class="row">
  <div class="col-md-4 col-md-push-4">
    <form class="form-horizontal" id="myprofile">
      <h4 class="bg-primary">My Profile</h4>
      <div class="form-group">
        <label class="col-xs-4 control-label">Name</label>
        <div class="col-xs-8">
          <p class="form-control-static"><%= name %></p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-4 control-label">Email</label>
        <div class="col-xs-8">
          <p class="form-control-static"><%= current_user.email %></p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-4 control-label">Address</label>
        <div class="col-xs-8">
          <p class="form-control-static">48, Calderon Road</p>
          <p class="form-control-static">Leytonstone</p>
          <p class="form-control-static">E11 4EU</p>
          <p class="form-control-static">London</p>
          <p class="form-control-static">United Kingdom</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-4 control-label">Phone</label>
        <div class="col-xs-8">
          <p class="form-control-static">07710130116</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-4 control-label">Date of birth</label>
        <div class="col-xs-8">
          <p class="form-control-static">18/01/1978</p>
        </div>
      </div>
      <div class="pull-left"><%= link_to "Edit profile", edit_user_registration_path %></div>
    </form>
  </div><!-- .col-md-4 -->
</div>