<script
  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-image="/images/logo.png"
  data-name="The Adventure Traveller"
  data-description="1 Tour"
  data-amount=10000
  data-currency="GBP">
</script>
