<% @featured_products.each do |p| %>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"> 
    <div class="featured clearfix">     
      <%= link_to product_path(p.id) do %>
        <h6>Climbing Mount Mc Kinley</h6>
        <%= image_tag("#{p.image_src}", {:class=>'img-responsive', :alt=>"#{p.name}"}) %>
        <h5><%= p.name %></h5>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
          <p>September 2016<br>7 days<br>
          Starting from <br>Anchorage</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <p>Prize from</p><p><%= "£" + p.price.to_i.to_s %></p>
        </div>
      <% end %>
    </div><!-- .featured .clearfix -->
  </div><!-- .col-lg-3  -->
<% end %>
