<% @body_id='about' %>
<div class="container">
  <div class="col-md-3">
    <%= render '/articles/newest_articles' %>
    <%= render '/pages/enews' %>
    <%= render '/pages/brochure' %>
  </div>
  <div class="col-md-9">
    <h3>About the Company</h3>
    <p>The Adventure Traveller is an independent travel company based on London. We are passionate about Africa but are experts in tailor-made holidays to both short haul and long haul destinations across the world.</p>
    <p>Our ethos is to provide a personal, professional and knowledgeable service to customers that are seeking an exceptional client experience at great value with a company they can trust to deliver all the time.</p>
    <p>We have a small team of well-travelled consultants, many of whom have worked with us for over 6 years. Each member of staff has their own area of expertise and we very much believe in working as a team to share our knowledge with each other and with our customers. It is not unusual to have the entire team discussing ideas for your holiday - if one member of staff doesn’t have the perfect solution for you then another one will.</p>
    <p>As we have all worked in the travel industry for many years, between us we have first-hand experience of a very diverse range of holiday types as well as holiday destinations; first time family holidays and extended sabbaticals as well as the traditional 1 or 2 week trip away.</p>
    <p>We believe that the creation of the business partnership package is simply the start of the process and that active engagement is the only way to ensure business growth. In the same way as our members tailor their expertise to benefit the individual needs of their customers, so we take the time to understand our members business needs and prescribe sensible solutions to meet them.</p>

    <h3>About the Team</h3>
    <p>We are so proud of our teams and the service they provide. The quality of our service doesn’t go without acknowledgement, we are delighted to announce that we recently won two awards at the 2014 Company Achievement Awards. Thank you and well done to our great staff. As well as finding people their ideal holiday, we arrange all the extras like car hire, transfers and insurance. There's also a foreign exchange bureau in each of our branches, where you can pick up commission free currency before you set off on holiday. To find your nearest shop click here</p>

    <h3>Value and Quality</h3>
    <p>We offer a quality service which we believe is second to none. This might mean we are not as cheap as an online travel company but it also means you get a lot more for your money. We really listen to your holiday requirements and endeavour to tailor a holiday which is perfect just for you.</p>
  </div>
</div>






