<div id="content">
  <div id="accordion" class="panel-group">
    <h3>General</h3>
    <div class="panel panel-default">
		  <h4><a href="#collapse1" data-parent="#accordion" data-toggle="collapse">Lorem lean startup ipsum product market?</a></h4>
		    <div id="collapse1" class="panel-collapse collapse in">
		      <div class="panel-body">
		        <p>Esse cillum dolore eu fugiat nulla pariatur. Corrupti quos dolores et quas molestias excepturi sint occaecati. Cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia. Excepteur sint occaecat cupidatat non proident, sunt in culpa. Ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
		      </div><!-- .panel-body -->
		    </div><!-- .panel-collapse -->
		  </div><!-- .panel -->
    <div class="panel panel-default">
	    <h4><a href="#collapse2" data-parent="#accordion" data-toggle="collapse">Architecto beatae vitae dicta sunt explicabo. Esse cillum dolore eu fugiat nulla pariatur. Fugiat quo voluptas nulla pariatur?</a></h4>
	    <div id="collapse2" class="panel-collapse collapse">
	      <div class="panel-body">
	        <p>Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. Cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia. Ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	      </div><!-- .panel-body -->
	    </div><!-- .panel-collapse -->
		</div><!-- .panel -->
    <h3>Destinations</h3>
    <div class="panel panel-default">
	    <h4><a href="#collapse3" data-parent="#accordion" data-toggle="collapse">Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Animi, id est laborum et dolorum fuga. Fugiat quo voluptas nulla pariatur?</a></h4>
	    <div id="collapse3" class="panel-collapse collapse">
	       <div class="panel-body">
	         <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
	      </div><!-- .panel-body -->
	    </div><!-- .panel-collapse -->
		</div><!-- .panel -->

	  <div class="panel panel-default">
	    <h4><a href="#collapse4" data-parent="#accordion" data-toggle="collapse">Corrupti quos dolores et quas molestias excepturi sint occaecati. Fugiat quo voluptas nulla pariatur?</a></h4>
	    <div id="collapse4" class="panel-collapse collapse">
	      <div class="panel-body">
	        <p>Animi, id est laborum et dolorum fuga. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Itaque earum rerum hic tenetur a sapiente delectus. Facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
	       </div><!-- .panel-body -->
	    </div><!-- .panel-collapse -->
	  </div><!-- .panel -->
    <h3>Team</h3>
    <div class="panel panel-default">
	    <h4><a href="#collapse5" data-parent="#accordion" data-toggle="collapse">Nisi ut aliquid ex ea commodi consequatur?</a></h4>
	    <div id="collapse5" class="panel-collapse collapse">
	      <div class="panel-body">
	        <p>Facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Laboris nisi ut aliquip ex ea commodo consequat. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat. Itaque earum rerum hic tenetur a sapiente delectus. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
	        <p>Duis aute irure dolor in reprehenderit in voluptate velit. Laboris nisi ut aliquip ex ea commodo consequat. Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. Fugiat quo voluptas nulla pariatur? Et harum quidem rerum facilis est et expedita distinctio. Architecto beatae vitae dicta sunt explicabo.</p>
	      </div><!-- .panel-body -->
	    </div><!-- .panel-collapse -->
	  </div><!-- .panel -->
    <div class="panel panel-default">
	    <h4><a href="#collapse6" data-parent="#accordion" data-toggle="collapse">Temporibus autem quibusdam et aut officiis debitis?</a></h4>
	    <div id="collapse6" class="panel-collapse collapse">
	      <div class="panel-body">
	        <p>Nihil molestiae consequatur, vel illum qui dolorem eum. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	      </div><!-- .panel-body -->
	    </div><!-- .panel-collapse -->
	  </div><!-- .panel -->
  </div><!-- #accordion -->
</div><!-- #content -->