<% @body_id = 'home' %>
<% @header_id = 'top' %>
<div class="container">
  <div class="row testimonials">
    <%= render 'featured_product' %>
  </div><!-- .row .testimonials -->
  <div class="row testimonials" id="reviews">
    <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
      <img src="/images/reviews/prof1.jpg" class="img-responsive circular">
      <p>Hotels were four or five star and the cuisine provided was a combination of Chinese and Western.</p>
      <hr>
      <p>Laura Smith</p>
    </div>
    <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
      <img src="/images/reviews/prof2.jpg" class="img-responsive circular">
      <p>In particular we were bowled over by the enthusiasm and passion of our guide. Great experience.</p>
      <hr>
      <p>Greg Brown</p>
    </div>
    <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
      <img src="/images/reviews/prof3.jpg" class="img-responsive circular">
      <p>While planning the trip, they were very responsive to my questions and requests all the time.</p>
      <hr>
      <p>Vanessa Ross</p>
    </div>
    <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
      <img src="/images/reviews/prof4.jpg" class="img-responsive circular">
      <p>We will not hesitate to come back in the future and will also recommended it to our friends.</p>
      <hr>
      <p>David Lewis</p>
    </div>
  </div>
  <div class="row feature">
    <div class="col-xs-1 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-info" id="mission">
        <div class="panel-heading">
          <h3 class="panel-title">Why Travel With Us...</h3>
        </div>
        <div class="panel-body">
          <p>Whether we are selecting partners or designing our exclusive tours, we have a commitment to only choosing the best. Our teams know the difference between good and great, and this leads how we find our partners, our experiences and our destinations.</p>
          <p>Every one of the tours we design is unique – because each of our clients is unique! When you customise a tour with us, you can rest assured that our team is working hard to make your perfect itinerary a reality using our dynamic portfolio of options.          
          </p>
          <p>All of our tour guides are locals to the country or city they help you explore. Equipped with international-standard first aid training and years of experience, our guides will help you get closer to the heart and soul of Asia while providing you safety and security.</p>
          <p>There is nothing secretive or hidden about our prices. When you compare our prices we are always the best value for money.</p>
        </div>
      </div>
    </div><!-- col-xs-1 col-sm-6 col-md-6 col-lg-6 -->
    <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
      <%= render '/articles/newest_articles' %>
    </div><!-- col-xs-1 col-sm-4 col-md-4 col-lg-4 -->
    <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
      <%= render '/pages/enews' %>
      <%= render '/pages/brochure' %>
    </div><!-- col-xs-1 col-sm-2 col-md-2 col-lg-2 -->
  </div> <!-- .row-feature -->
</div><!-- .container -->
