<div class="container">
  <h3 class="bg-primary">My Photos</h3>

  <p>You have not uploaded any photos.</p>
  <form>

   <div class="form-group">
    <!-- <label for="exampleInputFile">File input</label> -->
    <span>
      <span></span>
      <input type="file" id="exampleInputFile" >
    </span>
    
  </div>

  

  </form>

  <p>Please upload as much as ten photos from your holiday.</p>
</div>
