<div id="content">
			<div class="container">
				<div class="row feature">
					<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
						<form action="#" method="post" id="contact-form">
							<h2>Form</h2>
							<p>If you have any questions or comments, contact us using the form below.</p>
							<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
								<p><label for:"name">Name:</label><input type="text" name="name" id="name" placeholder="Full Name" required autofocus></p>
								<p><label for:"email">Email:</label><input type="email" name="email" id="email" placeholder="email@example.com" required></p>
								<p><label for:"website">Website:</label><input type="url" name="website" id="website" placeholder="www.example.com"></p>
								<p>
									<label for:"category">Category:</label>
									<select id="category" name="category">
										<option value="destinations">Destinations</option>
										<option value="special-offers">Special offers</option>
										<option value="activities">Activities</option>
									</select>
								</p>
								<p>
									<label for:"comment">Comment:</label>
									<textarea name="comment" id="comment" placeholder="Send us your comments"></textarea>
								</p>
								<p><input type="submit" value="Submit" class="btn btn-success"></p>
							</div>

							<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
								<div class="checkbox">
									<label><input type="checkbox" name="info-destinations" id="info-destinations" value="europe">Europe</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" name="info-destinations" id="info-destinations" value="america">America</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" name="info-destinations" id="info-destinations" value="asia">Asia</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" name="info-destinations" id="info-destinations" value="africa">Africa</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" name="info-destinations" id="info-destinations" value="oceania">Oceania</label>
								</div>

								<div class="radio">
									<label><input type="radio" name="information" value="pdf" checked> PDF</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="information" value="brochure"> Brochure</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="information" value="phone"> Phone</label>
								</div>
							</div>
						</form>
					</div><!-- .col-xs-7 .col-sm-7 .col-md-7 .col-lg-7 -->
					<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
						<img src="/images/feature.png" class="img-responsive" alt="Responsive image">
					</div><!-- .col-xs-5 .col-sm-5 .col-md-5 .col-lg-5 -->
				</div><!-- .row .feature -->
			</div><!-- .container -->
		</div><!-- #content -->