// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.a-left {
  float: left;
  padding-left: 0;
}

.a-right {
  float: right;
  margin-right: 0;
}

.article {
  clear: both;
}

.article img {
  max-width: 100%;
}

.article h2 {
  padding: 0;
  margin: 0 0 10px 0;
  text-align: justify;
}

.article h2 a {
  font-size: 2rem;
}

.article hr {
  padding: 0;
  margin: 10px 0 20px 0;
}

.article li {
  display: inline;
  padding: 5px 8px 5px 0;
}

.article .modal-body {
  padding-bottom: 60px;
}

.article p {
  margin-bottom: 30px;
}

.article ul {
  clear: both;
  text-align: left;
  padding-left: 0;
  margin-left: 0;
  display: inline;
  list-style-type: none;
}

.panel-body ul > li {
  text-align: left;
}

.panel-footer ul > li {
  padding: 0;
  text-align: left;
}
.pagination {
  display: inline;

}

.pagination ul > li {
 /* padding: 0 0 0 0;
  margin: 0;
  text-align: left;*/
}

.pagination a {

/*  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;*/
}

