// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.a-left {
  float: left;
  padding-left: 0;
}

.a-right {
  float: right;
}

.article {
  clear: both;
}

.article img {
  max-width: 100%;
}

.article h2 {
  padding: 0;
  margin: 0 0 10px 0;
  text-align: justify;
}

.article h2 a {
  font-size: 2rem;
}

.article li {
  display: inline;
  padding: 5px 8px 5px 0;
}

.article p {
  margin-top: 20px;
  margin-bottom: 40px;
}

.article ul {
  clear: both;
  text-align: left;
  padding-left: 0;
  margin-left: 0;
  display: inline;
  list-style-type: none;
}