// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.p-left {
	float: left;
	padding-left: 0;
}

.p-right {
  float: right;
}

.product img {
	max-width: 100%;
}

.product h2 {
	padding: 0;
	margin: 0 0 10px 0;
}

.product h2 a {
	font-size: 2rem;
}

.product li {
  display: inline;
  padding: 5px 8px;
}

.product p:first-of-type {
  margin-bottom: 104px;
}




