// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#opinion {
	border: solid 1px #C6B393;
	padding: 20px 4px 0px 4px;
	margin: 50px 0px 40px 0px;
}

#overview {
	clear: both;
	border: solid 1px #C6B393;
	padding: 10px;
}

#dates-prices {
	clear: both;
	border: solid 1px #C6B393;
	padding: 10px;
}

#tour {
	clear: both;
	border: solid 1px #C6B393;
	padding: 10px;
}

#reviews {
	clear: both;
	border: solid 1px #C6B393;
	padding: 10px;
}

#product-navbar {
	margin: 30px 0 0 0;
	float: left;
}

#product-navbar ul {
	padding-left: 0;
	text-align: left;
	margin-bottom: 2px;
}

#product-navbar li {
	display: inline;
	margin-left: -3px;
}

#product-navbar li:first-child {
	margin-left: 0px;
}

#product-navbar a {
	color: #fff;
	font-weight: normal;
	text-transform: capitalize;
	cursor: inherit;
	font-size: 1em;
	background-color: #c6b393;
	padding: 4px 16px 4px 16px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

#product-navbar a:link, #product-navbar a:visited {
	color: #fff;
}

#myCarousel-product {
  box-shadow: 0 7px 10px 3px rgba(0, 0, 0, 0.5);
}

#myCarousel-product .item {
  max-height: 300px;
}

#myCarousel-product .container {
  left: 0;
  position: absolute;
  top: 270px;
}

#myCarousel-product h1, #myCarousel-product p {
  color: #fff;
  padding: 3px 0;
  margin: 0 auto;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
  width: 70%;
  text-align: left;
}

#myCarousel-product img {
  width: 100%;
}

#myCarousel-product li {
	padding: 0px 3px;
}

.btn {
	background-color: #00B48D;
	color: #FFF;
	transition: background-color 0.4s;
	margin-top: 5px;
}

.btn:hover, .btn:active, .btn:focus {
	border: solid 1px #00946D;
	color: #FFF;
	background-color: #00946D;
}

#book {
	float: right;
	margin-top: 20px;
}

.featured {
	border: 1.5px solid #ccc;
	padding: 10px 10px 0 10px;
}

.featured a {
	text-transform: none;
	font-weight: normal;
	font-size: none;
}

.featured a:link, .featured a:visited, .featured a:hover, .featured a:active { 
  color: #444;
  text-decoration: none;
}

.featured a:hover {
	opacity: 0.9;
}

.featured img {
	display: inline;
	margin-top: 0px !important;
	margin-bottom: 15px;
}

.featured h6 {
	color: #fff;
	background-color: #c6b393;
	margin: 0;
	position: absolute;
	z-index: 15;
	padding: 10px;
	width: 220px;
	text-transform: uppercase;
}

.featured h5 {
	color: #444;
	margin: 0 0 10px 0 !important;
	padding-left: 5px;
	text-align: left;
}

.featured p {
	float: left;
	font-size: 1.1rem;
	margin: 0;
}

.featured [class*="col"]:first-of-type {
	padding: 0 0 0 5px;
	margin: 0;
}

.featured [class*="col"]:nth-of-type(2) {
	padding: 0 0 0 5px;
	margin: 0;
}

.featured [class*="col"]:nth-of-type(2) p {
	background-color: #c6b393;
	color: #fff;
	padding: 5px 10px 5px 33px;
	font-size: 1.1rem;
	float: right;
}

.featured [class*="col"]:nth-of-type(2) p:nth-of-type(2) {
	font-size: 2.5rem;
	padding: 0 5px 40px 15px;
}

.product-display {
	padding: 6px 6px 300px 6px;
}

#pikame li {
	list-style-type: none;
}

#product-list {
	border: 1px solid #c6b393;
	border-radius: 5px;
	float: right;
	margin: 10px 0 0 0;
}

#product-list a {
	text-transform: none;
	font-weight: normal;
	font-size: none;
}

#product-list a:link, #product-list a:visited, #product-list a:hover, #product-list a:active {
	text-decoration: none;
	color: #444;
}

#product-list a:hover {
	opacity: 0.9;
}

#product-list [class*='col'] {
	padding: 6px;
}

#product-list img {
	max-width: 100%;
	border-radius: 5px;
}


#product-list li {
  padding: 5px 0;
  text-align: left;
}

#calendar ul {
	margin: 0;
}

#calendar li {
	display: inline;
	border: 1px solid #C6B393;
	padding: 0 3px;
	font-size: 1.1rem;
	margin-left: -5px;
	background-color: #C6B393;
	color: #fff;
}

#calendar li:nth-child(4), #calendar li:nth-child(7), #calendar li:nth-child(9),
#calendar li:nth-child(10) {
	background-color: #bf7c61;
	border-color: #bf7c61;
}

#calendar span {
	margin: 0;
	color: #fff;
}

#calendar p {
	margin: 10px 0 3px 0;
}


#product-list li a {
	font-size: 1.3rem;
}

#product-list ul {
	padding-left: 0;
}

#opinion img {
	float: left;
	margin-right: 15px;
}

#opinion p {
	font-size: 1.2rem;
	text-transform: none;
	text-align: left;
}

#opinion p:last-of-type {
	color: #444;
}

#opinion hr {
	margin: 25px 0 10px 0;
	width: 40px;
	background-color: #444;
}

.reviews {
	border: 1px solid #C6B393;
	padding: 0 15px;
}

.search label {
	font-weight: normal;
	font-size: 1.4rem;
}

.search .btn-info {
	background-color: #C6B393;
	border-color: #C6B393;
	font-size: 1.4rem;
	width: 100px;
	margin-left: 50px;
}

.search select {
	width: 95%;
	border-color: #C6B393;
	color: #444;
	margin-bottom: 15px;
}

#product-points {
	padding: 0 3px 0 0;
	margin: 0 0 0 20px;
	border-right: 1px solid #C6B393;
}

#product-price ul {
	list-style-type: none;
	margin: 0;
}

#product-price li {
	padding: 2px 0;
}

#product-price span {
	font-size: 1.2em;
}

.rating {
	color: #C6B393;
	font-size: 1.5rem;
	padding: 0 0 2px 0;
	unicode-bidi: bidi-override;
	direction: rtl;
	text-align: left;
}

.rating p {
	margin: 10px 0 3px 0;
	direction: ltr;
	color: #444;
}

.rating > span {
	display: inline-block;
	position: relative;
	width: 1.3em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
	content: "\2605";
	position: absolute;
}



