a { 
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

a:link, a:visited { 
  color: #428bca;
  text-decoration: none;
}

a:hover, a:active { 
  color: #f00;
  text-decoration: none;
}

body {
  position: relative;
  margin: 0;
  background-color: #f5f5f5;
}

footer {
  clear: both;
}

hr {
  background: #ccc;
  border: 0;
  color: #eee;
  height: 1px;
  margin: 30px 0px;
}

iframe {
  clear: both;
}

img {
  max-width: 100%;
}

p {
  text-align: justify;
  margin-bottom: 40px;
}

table {
  border: 2px solid;
}

th {
  padding: 20px;
  border: 1px solid;
}

td, tr {
  padding: 20px;
  border: 1px solid;
}

ul {
  text-align: center;
}

#accordion h3 {
  border-bottom: solid 1px #ddd;
  margin: 2em 0 1em 0;
  padding-bottom: 0.8em;
}

#accordion h3:first-child {
  margin-top: 0;
}

#accordion .panel {
  background: transparent;
  border: 0;
  box-shadow: none;
  margin-bottom: 1em;
}

#accordion .panel a:link, #accordion .panel a:visited {
  color: #555;
  text-transform: none;
  font-size: 1em;
}

#accordion .panel-body {
  background: #ddd;
  border-radius: 5px;
  margin-top: 1em;
  padding: 15px 20px;
}

#accordion .panel-body p {
  margin: 0;
}

.checkbox {
  margin-top: 0;
}

.col-md-5 a {
  text-transform: lowercase;
  font-size: 1.5rem;
}

#contact-form {
  clear: both;
  padding-bottom: 20px;
  border: solid 1px;
}

#contact-form  p {
  margin-left: 30px;
  text-align: left;
}

#contact-form input[type="text"], input[type="email"], input[type="url"], select {
  width: 250px;
  }textarea{
    width: 320px;
}

#contact-form input[type="submit"] {
  margin-left: 180px;
  width: 135px;
}

#contact-form label {
  margin-right: 10px;
  text-align: left;
  width: 60px;
}

#content {
  clear: both;
}

.container {
  width: 80%;
  margin: 50px auto;
  }h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.dropdown-menu ul, .dropdown-menu li, .dropdown-menu a {
  padding: 5px;
  border: 0;
  margin: 0;
}

.dropdown-menu li a {
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

.dropdown-menu li a:hover {
  background: transparent;
  color: #f00;
}

.fb-like-box, .fb-share-button {
  float: right;
  margin: 0 0 25px 0;
}

.fixed {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 99;
  top: 0;
}

.footer .nav > li {
  display: inline;
  float: right;
  padding: 5px 8px;
  margin: 0;
  background-color: #30507b;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.footer p {
  float: left;
}

.footer .nav > li > a:link {
  display: inline;
  color: #fff;
}

.footer .nav > li > a:visited {
  display: inline;
  color: #fff;
}

.footer .nav > li > a:hover {
  display: inline;
  color: #f00;
}

.footer .nav > li > a:active {
  display: inline;
  color: #f00;
}

.footer .nav {
  float: right;
  clear: right;
}

.grid-of-images a {
  cursor:-webkit-zoom-in;
  cursor:-moz-zoom-in;
  cursor:zoom-in;
  border: 0;
  height:75px;
  display:block;
  float:left;
  margin:0 5px 5px 0;
  width:75px
}

.grid-of-images a:hover{
  opacity:.9
}

#home #nav-home, #about #nav-about, #destinations #nav-destinations, #contact #nav-contact, #signup #nav-signup, #signin #nav-signin, 
#signout #nav-signout, #faq #nav-faq, #blog #nav-blog {
  color: #468400;
}

.lightbox img {
  max-width: 100%;
}

.login {
  display: inline;
  list-style: none;
  float: right;
  margin-top: 50px;
  margin-right: 225px;
}

#mc_embed_signup {
  float: right;
  width: 200px;
  margin-right: 25px;
}

@media (max-width: 767px) {
  h1 { font-size: 2rem; }
  #myCarousel .container { 
  top: 0;
  }
}

.mobile button {
  margin: 6px 0;
}

.modal-header {
  padding: 15px 20px;
}

.modal-body {
  padding: 20px 40px 120px 40px;
}

#myCarousel {
  box-shadow: 0 7px 10px 3px rgba(0, 0, 0, 0.5);
}

#myCarousel .item {
  max-height: 500px;
}

#myCarousel .container {
  left: 0;
  position: absolute;
  top: 270px;
}

#myCarousel h1, #myCarousel p {
  color: #fff;
  padding: 3px 0;
  margin: 0 auto;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
  width: 70%;
  text-align: left;
}

#myCarousel img {
  width: 100%;
}

.nav {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-header { 
  width: 80%;
  margin: 0 auto;
  color: #428bca;
}

.nav-header-mobile {
  color: #428bca;
}

.nav-button {
  float:right;
  background-color: #fff;
  border-color: #428bca;
}

.nav-login {
  float: right;
  margin-top: 18px;
}

.nav-logo {
  clear: both;
  float: left;
  margin: 30px 0 0 0;
  width: 70%;
  font-weight: bold;
  font-size: 3.5rem;
}

.nav-logo-mobile {
  clear: both;
  float: left;
  margin: 6% 0 0 5%;
  width: 70%;
  font-weight: bold;
  font-size: 1.6rem;
}

.navbar {
  clear:both;
  float: left;
  padding: 20px 0px 0px 0px;
  margin-bottom: 1px;
  list-style: none;
}

.navbar > li {
  display: inline;
  padding: 5px 30px;
  margin: 0;
}

.navbar > li > a:link {
  color: #428bca;
  font-size: 1.4rem;
  display: inline;
}

.navbar > li > a:visited {
  color: #428bca;
  display: inline;
}

.navbar > li > a:hover {
  display: inline;
  color: #f00;
}

.navbar > li > a:active {
  display: inline;
  color: #f00;
}

.navbar > li:first-child {
  padding-left: 0px;
}

.navbar-collapse {
  clear: both;
}

.navbar-mobile {
  display: block;
  list-style: none;
  margin-left: -40px;
}

.responsive-container {
  position: relative;
  height: 0; 
  padding: 0 0 80% 0;
}

.responsive-container iframe, .responsive-container object, .responsive-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 }

 .space {
  margin-top: 120px;
 }

.space-mobile {
  margin-top: 50px;
}

.testimonials [class*="col"] {
  margin-top: 10px;
  text-align: center;
}

.testimonials [class*="col"] img:nth-child(2) {
  margin-top: 20px;
}

.top {
  clear: both;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.top .login {
  color: #fff;
}