a { 
  font-weight: normal;
  /*font-size: 1rem;*/
  /*text-transform: uppercase;*/
}

a:link, a:visited { 
  color: #428bca;
  text-decoration: none;
}

a:hover, a:active { 
  color: #f00;
  text-decoration: none;
}

footer {
  clear: both;
  background-color: #354554;
  color: #fff;
  font-weight: normal;
}

footer label {
	padding: 15px 0 0 0;
	font-size: 16px;
	color: #fff;
	font-weight: normal;
}

footer p {
	color: #fff;
}

hr {
  border: 0;
  height: 1px;
}

iframe {
  clear: both;
}

img {
  max-width: 100%;
}

p {
  text-align: justify;
  margin-bottom: 15px;
}

table {
  border: 2px solid;
}

th {
  padding: 20px;
  border: 1px solid;
}

td, tr {
  padding: 20px;
  border: 1px solid;
}

ul {
  text-align: center;
}

#accordion h3 {
  border-bottom: solid 1px #ddd;
  margin: 2em 0 1em 0;
  padding-bottom: 0.8em;
}

#accordion h3:first-child {
  margin-top: 0;
}

#accordion .panel {
  background: transparent;
  border: 0;
  box-shadow: none;
  margin-bottom: 1em;
}

#accordion .panel a:link, #accordion .panel a:visited {
  color: #555;
  text-transform: none;
  font-size: 1em;
}

#accordion .panel-body {
  background: #ddd;
  border-radius: 5px;
  margin-top: 1em;
  padding: 0 20px 15px 20px;
}

#accordion .panel-body p {
  margin: 0;
}

.checkbox {
  margin-top: 0;
}

.circular {
	width: 120px;
	height: 120px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.clearfix:after {
	content: "";
	visibility: hidden;
	display:block;
	clear:both;
}

.col-md-5 a {
  text-transform: lowercase;
  font-size: 1.5rem;
}

#contact-form {
  clear: both;
  padding-bottom: 20px;
  border: solid 1px;
}

#contact-form  p {
  margin-left: 30px;
  text-align: left;
}

#contact-form input[type="text"],#contact-form input[type="email"],#contact-form input[type="url"],
#contact-form select {
  width: 250px;
  }textarea{
    width: 320px;
}

#contact-form input[type="submit"] {
  margin-left: 180px;
  width: 135px;
}

#contact-form label {
  margin-right: 10px;
  text-align: left;
  width: 60px;
}

#content {
  clear: both;
}

.container {
	width: 85%;
	margin: 40px auto 0 auto;
}

footer .container  {
	padding-top: 15px;
}

.container .row {
	margin-bottom: 50px;
}

.container h1, h2, h3, h4, h5, h6 {
  /*width: 80%;*/
  margin: 10px auto 15px auto;
  text-align: center;
}

.container .panel {
		margin: 10px auto 10px auto;
}

.dropdown-menu ul, .dropdown-menu li, .dropdown-menu a {
  padding: 5px;
  border: 0;
  margin: 0;
}

.dropdown-menu li a {
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

.dropdown-menu li a:hover {
  background: transparent;
  color: #f00;
}

.fb-like-box, .fb-share-button {
  float: right;
  margin: 0 0 25px 0;
}

#mc_embed_signup input[id="mce-EMAIL"] {
	font-size: 16px;
	height: 36px;
	width: 270px;
	border: 0;
	padding-left: 5px;
	margin-right: -8px;
	border-radius: 5px 0 0 5px;
}

#mc_embed_signup .btn-info {
	background-color: #00b48d;
	border-color: #00b48d;
	font-size: 16px;
	margin: 0 0 4px 0;
	border-radius: 0 5px 5px 0;
}

.grid-of-images a {
  cursor:-webkit-zoom-in;
  cursor:-moz-zoom-in;
  cursor:zoom-in;
  border: 0;
  height:75px;
  display:block;
  float:left;
  margin:0 5px 5px 0;
  width:75px;
}

.grid-of-images a:hover{
  opacity:.9
}

#home #nav-home, #about #nav-about, #destinations #nav-destinations, #contact #nav-contact, #signup #nav-signup, #signin #nav-signin, 
#signout #nav-signout, #faq #nav-faq, #blog #nav-blog {
  color: #00b48d;
}

.lightbox img {
  max-width: 100%;
}

@media (max-width: 767px) {
  h1 { font-size: 2rem; }
  #myCarousel .container { 
  top: 0;
  }
}

.message {
	margin: 10px 0 0 52px;
}

.message p {
	padding-right: 100px;
}

.message a:link, .message a:visited {
	color: #444;
}

.close {
	font-size: 1.7rem;
	font-weight: normal;
}

.mobile button {
  margin: 6px 0;
}

.modal-header {
  padding: 15px 20px;
}

.modal-body {
  padding: 20px 40px 120px 40px;
}

#myCarousel .item {
  max-height: 594px;
}

#myCarousel .container a {
	position: absolute;
  font-weight: normal;
  font-size: 1.1rem;
  background-color: #354554;
	border-color: #354554;
	padding: 5px 10px;
	border-radius: 5px;
}

#myCarousel .container a:link, #myCarousel .container a:visited {
	color: #fff;
	font-weight: normal;
	font-size: 1.1rem;
}

#myCarousel .container a:hover, #myCarousel .container a:active {
	color: #00b48d;
}

#myCarousel .container a:first-child {
	top: 160px;
  left: 230px;
}

#myCarousel .container a:nth-child(2) {
	top: 360px;
  left: 380px;
}

#myCarousel .container a:nth-child(3) {
	top: 140px;
  left: 660px;
}

#myCarousel .container a:nth-child(4) {
	top: 250px;
  left: 655px;
}

#myCarousel .container a:nth-child(5) {
	top: 190px;
  left: 880px;
}

#myCarousel .container a:nth-child(6) {
	top: 425px;
  left: 1090px;
}

#myCarousel .container a:nth-child(7) {
	top: 16px;
  left: 445px;
}

#myCarousel h1, #myCarousel p {
  color: #fff;
  padding: 3px 0;
  margin: 0 auto;
  width: 70%;
  text-align: left;
}

#myCarousel img {
  width: 100%;
}

#myCarousel a:link, #myCarousel a:visited {
	color: #354554;
	font-weight: normal;
	font-size: 1.1rem;
}

#myCarousel a:hover, #myCarousel a:active {
	color: #354554;
}

#logo {
  clear: both;
  float: left;
  margin: 30px 0 0 0;
  width: 60%;
  font-weight: normal;
  font-size: 3rem;
  padding-left: 50px;
  color: #fff;
}

.alert {
	padding: 10px;
}

.nav {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu {
	min-width: 0px;
	width: auto;
	left: auto;
	right: 0px;
	background-color: #627383;
}

.dropdown-menu > li {
	font-size: 1.2rem;
	padding: 1px 10px;
}

.dropdown-menu>li > a {
	padding: 0px 10px;
}

.login {
	color: #fff;
	list-style: none;
	margin: 20px 40px 0 0;
	float: right;
}

.login ul {
	margin: 0 20px 5px 0;
}

.login li {
	display: inline;
}

.login ul:nth-child(2) li {
	display: block;
}

.login p {
	display: block;
	padding-right: 20px;
	float: right;
}

.login  li a {
	text-transform: none;
	font-size: 1.2rem;
	color: #fff;
	font-weight: normal;
}

.login select {
	border-color: #354554;
	width: 60px;
	height: 20px;
	color: #354554;
	margin-left: 36px;
}

.login hr {
	margin: 8px auto;
	width: 80%;
	background-color: #fff;
}

.nav-container { 
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  background-color: #354554;
}

.navbar {
	width: 100%;
  clear:both;  
  margin-bottom: 0;
  list-style: none;
  border-radius: 0;
  color: #fff;
  min-height: 35px;
/*
  background-color: rgba(255,255,255,0.8);
  position: fixed;
  z-index: 99;*/
  background-color: #354554;
}

.navbar nav {
	opacity: 0.5;
}

.navbar ul {
	padding: 5px 0px 5px 50px;
	margin-bottom: 0;
	border: 0;
	text-align: left;
}

.navbar > ul > li:first-child {
  padding-left: 0px;
}

.navbar > ul > li {
  display: inline;
  padding: 5px 30px;
  margin: 0;
}

.navbar > ul > li > a:link, .navbar > ul > li > a:visited {
  color: #fff;
  font-size: 1.4rem;
  display: inline;
}

.navbar > ul > li > a:hover, .navbar > ul > li > a:active {
  display: inline;
  color: #f00;
}

.nav-logo-mobile {
  clear: both;
  float: left;
  margin: 6% 0 0 5%;
  width: 70%;
  font-weight: bold;
  font-size: 1.6rem;
}

.nav-header-mobile {
  color: #428bca;
}

.nav-button {
  float:right;
  background-color: #fff;
  border-color: #428bca;
}

.navbar-collapse {
  clear: both;
}

.navbar-mobile {
  display: block;
  list-style: none;
  margin-left: -40px;
}

.responsive-container {
  position: relative;
  height: 0; 
  padding: 0 0 80% 0;
}

.responsive-container iframe, .responsive-container object, .responsive-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 }

.navfooter > li > a {
	text-transform: none;
	font-weight: normal;
	font-size: none;
	padding: 3px 0 0 0;
	font-size: 1.2rem;
	text-align: left;
}

.navfooter > li > a:link, .navfooter > li > a:visited, .navfooter > li > a:hover, .navfooter > li > a:active { 
  color: #fff;
}

 .navfooter {
 	padding: 0;
	clear: both;
  list-style: none;
  margin: 0;
  text-align: left;
 }

 #company {
 	padding-left: 130px;
 }

 #contact-footer p {
 	text-align: left;
 }

#social-media {
	padding: 10px 0;
}

#social-media li {
	display: inline;
}

#policy {
	padding: 35px 0 10px 0;
}
 
#policy li {
	display: inline;
}

 .social-media {
	width: 40px;
	height:40px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	padding: 2px;
 }

 .space {
  margin-top: 112px;
 }

.space-mobile {
  margin-top: 50px;
}

.testimonials [class*="col"] {
  margin-top: 10px;
  text-align: center;
}

.testimonials [class*="col"] img:nth-child(2) {
  margin-top: 20px;
}

.top {
  clear: both;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.top .login {
  color: #fff;
}

.slider {
	width: 83%;
	margin: 10px 0 20px 8px;
}

.slider-val {
	font-size: 1.1rem;
	font-weight: normal;
	text-decoration: none;
}

.slider-val:nth-of-type(2) {
	float: right;
}
