// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container#signin {
	width: 30%;
	margin: 40px auto;
}

.container#signup {
	width: 35%;
	margin: 40px auto;
}

#signin label, #signup label, #profile label {
	font-weight: normal;
}

.container#signup select {
	background-color: #FFF;
	color: #444;
	width: 70px;
}

.btn#signin {
	width: 70%;
}

#profile {
	width: 30%;
	margin: 40px auto;
}

#profile p {
	display: inline;
}

#profile label {
	width: 30%;
	margin-right: 15px;
	text-align: right;
}

#profile ul {
	/*list-style-type: none;*/
	margin: 0;
}

#profile button {
	margin: 0 0 0 15px;
	background-color: #bf7c61;
	border-color: #bf7c61;
	/*float: right;*/
}

#profile .panel-heading ul li {
	display: inline;
}

#profile h3 {
	float: left;
	margin-top: 2px;
	/*width: 50%;*/
}



