// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#signin, #signup, #myprofile, #edMyProfile {
	margin-top: 40px;
}

.checkbox-inline label, .radio-inline label {
	font-weight: 400;
}

.form-control-static {
	min-height: 25px;
	max-height: 30px;
}

#edMyProfile em, #signup em {
	margin: -12px 0px 15px 15px;
}

.container#signup {
	width: 35%;
	margin: 40px auto;
}

.container#signup select {
	background-color: #FFF;
	color: #444;
	width: 70px;
}

#profile {
	width: 30%;
	margin: 40px auto;
}

#profile p {
	display: inline;
}

#profile label {
	width: 30%;
	margin-right: 15px;
	text-align: right;
}

#profile ul {
	margin: 0;
}

#profile button {
	margin: 0 0 0 5px;
	background-color: #bf7c61;
	border-color: #bf7c61;
	float: right;
}

#profile .panel-heading li {
	display: inline;
}

#profile h3 {
	margin-top: 2px;
}

#profile [class*='col'] {
	padding: 0;
}

#ch-password {
	margin-top: 25px;
	margin-bottom: 15px;
}

.form-group {
	margin: 0 15px 15px 15px;
}

.form-horizontal .form-group {
	margin-bottom: 0;
}

.bg-primary {
	padding: 15px 0;
	text-align: center;
}

.page-header {
	border-bottom: none;
}




