<div class="panel panel-info">
  <div class="panel-heading">
      <h3 class="panel-title">Reviews</h3>
  </div>
  <div class="panel-body">
    <div class="rating">
      <span "sp2">&#9734</span><span>&#9734</span><span>&#9734</span><span>&#9734</span><span>&#9734</span>
    </div>
    <p>By: Alec Leamas</p>
    <p>It was a great experience...</p>
    <p>Date: 22 August 2014</p>
  </div>
</div>

