<div class="container">
  <div class="row features">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <%= form_for([@product, @product.testimonials.build]) do |t| %>
        <p><h3>New Testimonial</h3></p>
        <p>
          <%= t.label :name %><br>
          <%= t.text_field :name %>
        </p>
        <p>
          <%= t.label :email  %><br>
          <%= t.text_field :email %>
        </p>
        <p>
          <%= t.label :body %><br>
          <%= t.text_area :body %>
        </p>
        <p>
          <%= t.submit %>
        </p>
      <% end %>
    </div> <!-- col-xs-5 col-sm-5 col-md-5 col-lg-5 -->
  </div>
</div>

