<footer>
	<hr>
	<div class="container footer">
		<div class="fb-like-box" data-href="https://www.facebook.com/natgeo" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true" data-share="true"></div>
		<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-type="button_count"></div>
		<nav>
			<ul class="nav">
				<li><%= link_to 'Blog', blog_path, 'id'=>'nav-blog' %></li>
				<li><%= link_to 'FAQ', faq_path, 'id'=>'nav-faq' %>
				<li><%= link_to 'Terms', "#" %>
				<li><%= link_to 'Privacy', "#", data: {target: "#privacy", toggle: "modal", keyboard: "true"}  %>
			</ul>
		</nav>
		<div class="modal fade" id="privacy" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal">&times;</button>
						<h3>Privacy Policy</h3>
					</div><!-- .modal-header -->
					<div class="modal-body">
						<p>We respect your privacy! We will not misuse nor sell any information provided to us. All of your information provided to us is for the express purpose of processing your order. By supplying such information, we will retain only the information needed to complete your order. Any information provided to us will not be shared with any other company or third party.</p>
					</div><!-- .modal-body -->
				</div><!-- .modal-content -->
			</div><!-- .modal-dialog -->          
		</div><!-- .modal -->
		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
			<form action="http://onjumpstarter.us8.list-manage.com/subscribe/post?u=a0767ebdd4eab0f955b33d4cb&amp;id=c2ed91adda" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<label for="mce-EMAIL">Subscribe to our mailing list</label>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email@address.com" required>
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;"><input type="text" name="b_a0767ebdd4eab0f955b33d4cb_c2ed91adda" tabindex="-1" value=""></div>
					<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info">
			</form>
		</div>
		<!--End mc_embed_signup-->
		<p>Copyright &copy; 2014 The Adventure Company</p>
	</div><!-- .container -->
</footer>